{% extends "main/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div>
        <div>
            <h1>Gerard Ugwu</h1>
            <h2>Welcome to My Page</h2>
            <p>This is my page. Feel free to look around and leave an 
                <a href="/email"><span>Email</span></a> for positive feedback and updates!
            </p>
            <p> Fiath is a very shy person and doesn't like to talk much, but she is very friendly and loves to help others.</p>
        </div>
    </div>
{% endblock %}
