{% extends "main/base.html" %}

{% block content %}
    <div class="tille">
        <h2>About Me</h2>
    </div>
    <div class="bio">
        <h2>Backend developer</h2>
    </div>
    <div class="infos">
        <h2>Personal information</h2>
        <p>Name: Gerard Ugwu</p>
        <p>Age: 28 Years</p>
        <p>Nationality: Migeria</p>
        <p>Residence: Lagos, Nigeria</p>
        <p>Email: kachimaxy1@gmail.com</p>
        <p>Phone(+234) 7032388531</p>
        <p>Freelance: Available</p>
    </div>
    <div class="download-link">
        <h2>Download Resume</h2>
    </div>
    <div class="service">
        <h2>Service</h2>
    </div>
{% endblock %}